.App {
  text-align: center;
}

.appshell__container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.appshell__overlay {
  background-color: rgb(0 0 0 / 46%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider__container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  display: block;
}

.card {
  max-width: 90%;
  min-width: calc(1200px / 6);
  height: 150px;
}

.slick-track {
  display: flex;
}

.slick-list {
  display: block;
  overflow: hidden;
}
